#addSong-modal {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  z-index: 5;

  width: 400px;
  height: fit-content;
  padding: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);

  border: 1px solid;
  border-radius: 10px;

  transition: transform 250ms;
}

.addSong-title {
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: -25px;
  padding-bottom: 10px;
}

/* Inputs */
.addSong-block {
  display: inline-grid;
  width: 47%;
  margin: 0 5px 0 5px;
}

#addSong-modal input,
label {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  font-size: larger;
  margin-bottom: 1rem;
}

#addSong-modal input {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-align: center;

  margin-bottom: 30px !important;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}

#addSong-modal .readonly {
  border-bottom: none !important;
}

#addSong-time,
#addSong-source {
  border: none !important;
}

#addSong-error {
  position: absolute;
  bottom: 75px;
  left: 0;

  width: 100%;
  height: fit-content;
  color: red;
}

/* AutoComplete */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  top: 25px;
  left: -2px;
  right: -2px;

  font-family: Arial;

  border-top: none;
  z-index: 99;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.autocomplete-items div:hover {
  background-color: rgb(40, 40, 40) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85) !important;
}

.autocomplete-active {
  background-color: rgba(0, 35, 42, 1) !important;
}

/* Buttons */
#addSong-modal button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  padding: 8px 15px 8px 15px;

  cursor: pointer;
  margin: 0 10px 0 10px;

  outline: 0px solid rgba(0, 0, 0, 0);
  transition: outline 250ms;
}

#addSong-return {
  color: red;
  border: 1px solid red;
}

#addSong-return:hover {
  outline: 5px solid rgba(255, 0, 0, 0.4);
}

#addSong-check {
  color: orange;
  border: 1px solid orange;
}

#addSong-check:hover {
  outline: 5px solid rgba(255, 166, 0, 0.4);
}

#addSong-save {
  color: green;
  border: 1px solid green;
}

#addSong-save:hover {
  outline: 5px solid rgba(0, 255, 0, 0.4);
}

#addSong-modal button:disabled {
  color: grey;
  border: 1px solid grey;
}

#addSong-modal button:disabled:hover {
  outline: none;
  cursor: default;
}
