#songsList {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
}

#addSong-button {
  position: relative;
  left: calc(100% - 35px);
  width: 35px;
  height: 35px;

  filter: invert(1);
  border: 0;
  cursor: pointer;

  background: url('../public/outline-add-circle-outline.svg') no-repeat center center / contain;
  transition: background-image 250ms;
}

#addSong-button:hover {
  background: url('../public/outline-add-circle.svg') no-repeat center center / contain;
}

/* Tabla */
#songsTable {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-bottom: 20%;
}

/* Header */
.tabulator-header {
  border-top: none !important;
  border-bottom: 2px solid !important;
}

.tabulator-col-title {
  font-size: larger;
  text-align: center;
  padding-right: 0 !important;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort='ascending'],
[aria-sort='descending'] .tabulator-col-content .tabulator-col-title {
  color: #888 !important;
}

.tabulator-col-sorter {
  display: none !important;
}

/* Rows */
.tabulator-col,
.tabulator-row {
  background-color: black !important;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.tabulator-row {
  cursor: default !important;
}

.tabulator-row:last-child {
  border-bottom: none !important;
}

/* Cells */
.tabulator-cell:first-child:hover {
  cursor: pointer !important;

  color: rgba(0, 0, 0, 0) !important;
  filter: invert(1);

  background: url('../public/play-arrow-rounded.svg') no-repeat center center / contain;
}
